// colors
$color-white: #FFFFFF;
$color-gray: #EEEEEE;
$color-light-gray: #E5E5E5;
$color-mid-gray: #F7F7F7;
$color-sami-gray: #AAAAAA;

// font size
$font-size-lg: 16px;

// gutter
$gutter-xs: 8px;
$gutter-sm: 16px;

// borders
$border-light-gray: 1px solid $color-light-gray;

// responsive
$media-xs: '(max-width: 414px)';
$media-sm: '(max-width: 834px)';
$media-md: '(max-width: 1024px)';
